* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1450px;
  padding-right: 20px;
  padding-left: 20px;
  
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.text {
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 20px;
}

.image {
  max-width: 100%;
  margin-bottom: 20px;
}


/*  grid fyrir efni  */

.grid {
  max-width: 1450px;
  margin: 0 auto;
}

.grid__row {
  display: flex;
  flex-direction: column;
  margin-right: -10px;
  margin-left: -10px;
}


.grid__col {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}


/* grid fyrir cards  */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
.cards__row {
    display: flex;
    flex-direction: column;
    margin-right: -10px;
    margin-left: -10px;
    
}
  
.cards__col {
  padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 100%;
}






/* styles úr verkefni 5 */



.card {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  border-bottom: 2px solid #aaa;
  border-radius: 5px;
}

.card__title {
  margin-bottom: 20px;
  font-size: 1.5em;
  line-height: 1;
  word-break: break-word;
}

.card__content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card__text {
  font-size: 1em;
  line-height: 1.20;
  word-break: break-word;
}

.card__photo {
  padding-right: 20px;
  flex: 0 0 150px;
}

.card__img {
  max-width: 100%;
}

.card__list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.card__listitem {
  font-weight: bold;
  margin-right: 10px;
}

.cards--first-flex-item{
    order: -1;
}
  

/* media skilgreiningar */



/*  <700px  */
@media (max-width: 699px) {
    .grid__col {
        width: 100%;   
      }
    
    .cards__col{
        width: 100%;
    }
} 


/*  >=700px  */
@media (min-width: 700px) {

  .cards__col {
    width: 50%;
    padding: 0 10px;
   
  }
  .cards {
    margin-bottom: 40px;
  }

    .cards__row {
      flex-direction: row;
      flex-wrap: wrap;
      
    }
    
    .card {
      margin: 0 0 10px 0;
      padding: 10px;
      max-width: 470px;
      max-height: 320px;
      border: 2px solid #aaa;
      
    }
    .card__content {
      flex-direction: row;
    }
}



/*  >=1000px  */
@media (min-width: 1000px) {
    .grid__col {
      width: 50%;
      margin-bottom: 40px;
    }

    .cards__col {
      width: calc(100%/3);
    }
    .grid__row {
      flex-direction: row;
    }
    
}

/*  >=1490px  */
@media (min-width: 1490px) {
    main {
      padding: 0;
    }
}
