* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1450px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.text {
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 20px;
}

.image {
  max-width: 100%;
  margin-bottom: 20px;
}



/* row og column fyrir grid og card */

.grid{
  max-width: 1450px;
  margin: 0 auto;
}

.grid__row {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-right: -10px;
}

.grid__col {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.cards__row{
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}

.cards__col{
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}








/*  >=1490px  */
@media (min-width: 1490px) {
  main{
    padding: 0;
  }

}

/*  >=1000px  */
@media (min-width: 1000px) {
  .grid__col{
    width: 50%;
    margin-bottom: 40px;
  }
  .cards_col{
    width: 33.3333333%;
  }
}

/*  >=700px  */
@media (min-width: 700px) {
  .cards__col{
    width: 50%;
  }
  .cards{
    margin-bottom: 40px;
  }
}

/*  <700px  */
@media (max-width: 699px) {
  .grid__col {
    width: 100%;   
  }

  .cards__col{
    width: 100%;
    margin: 0;
  }

  .card__content {
    flex-direction: column;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;
    border: 0 0 2px 0;
    border-color: solid #aaa;
    border-radius: 0;
    max-width: none;
    max-height: none;
    
  }

}















/* styles úr verkefni 6 */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  max-width: 470px;
  max-height: 320px;
  overflow: auto;

  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 5px;
}

.card__title {
  margin-bottom: 20px;

  font-size: 1.5em;
  line-height: 1;
  word-break: break-word;
}

.card__content {
  display: flex;
  flex: 1;
}

.card__text {
  font-size: 1em;
  line-height: 1.20;
  word-break: break-word;
}

.card__photo {
  padding-right: 20px;
  flex: 0 0 150px;
}

.card__img {
  max-width: 100%;
}

.card__list {
  margin-top: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;
}

.card__listitem {
  font-weight: bold;
  margin-right: 10px;
}

.cards--first-flex-item{
  order: -1;
}
